@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hideScroll::-webkit-scrollbar {
    width: 8px;
    display: none;
  }

  .hideScroll::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 9999px;
  }

  .hideXScroll::-webkit-scrollbar {
    height: 8px;
  }

  .hideXScroll::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 120px;
  }
}

body {
  overflow: hidden;
}


.spinner {
  width: 4.8px;
  height: 4.8px;
  display: block;
  margin: 20px auto;
  position: relative;
  border-radius: 4px;
  color: gray;
  background: currentColor;
  box-sizing: border-box;
  animation: animspinner 0.3s 0.3s linear infinite alternate;
}

.spinner::after,
.spinner::before {
  content: '';
  box-sizing: border-box;
  width: 4.8px;
  height: 4.8px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  animation: animspinner 0.3s 0.45s linear infinite alternate;
}

.spinner::after {
  top: -10px;
  animation-delay: 0s;
}

@keyframes animspinner {
  0% {
    width: 4.8px
  }

  100% {
    width: 48px
  }
}





































/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */